### i. Append()

Append adds a single item to the desired list

Example:

In [2]:
numbers = [1,2,3,4]
numbers.append(44)
print(numbers)

[1, 2, 3, 4, 44]

## ii. Extend()

Extend adds elements to the end of a list. (A string will be a element per letter)

Example:

In [4]:
numbers.extend("Hello")
print(numbers)

[1, 2, 3, 4, 44, 'H', 'e', 'l', 'l', 'o']

## iii. Insert()

Insert adds an element into a specific position in the list.

Example:

In [5]:
numbers.insert(4,"5")
print(numbers)

[1, 2, 3, 4, '5', 44, 'H', 'e', 'l', 'l', 'o']

## iv. Remove()

Remove takes away a certain element in the list.

Example:

In [8]:
numbers.remove("H")
print(numbers)

[1, 2, 3, 4, '5', 44, 'e', 'l', 'l', 'o']

## v. Count()

Count function shows us how many times a value shows up in a list.

Example:

In [12]:
numbers.count("l")

2

## vi. index()

Index returns the specific index position of an item in a list or range.

Example:

In [14]:
numbers.index(44)

5

## vii. Pop()

Pop allows you to remove an element from a position in a list.

Example:

In [15]:
print(numbers)

[1, 2, 3, 4, '5', 44, 'e', 'l', 'l', 'o']

In [16]:
numbers.pop(0)
print(numbers)

[2, 3, 4, '5', 44, 'e', 'l', 'l', 'o']

## viii. Sorted()

Sorted allows for any list or tuple to be sorted in order.

Example:

In [20]:
sortdlist=[1,5,1,6,7,81,21,25]
print(sorted(sortdlist))

[1, 1, 5, 6, 7, 21, 25, 81]

## ix. Copy()

Copy allows you to copy in paste but in code, coppying a list and transfering it to another list variable that is identicle. 

Example:

In [29]:
league=["John","Connor","Kadin"]

legends=league.copy()

print(legends)

['John', 'Connor', 'Kadin']

## x. Clear()

Clear will clear a list (no matter the size)

Example:

In [27]:
clearedlistexample=[1,2,5,1,152,125,15,125,1,32,62,12,41,523,11,25,152,6,23]
clearedlistexample.clear()
print(clearedlistexample)

[]

## xi. Any()

Any returns True if any of the elements in a List or tuple are true or else it will return False

Example:

In [28]:
a=(4,1,5) #all true
b=(0,0,0,False,False) #all false

#if there is a mix it will print false
#if there is a empty list or tuple or set it will also print false

print(any(a))

print(any(b))

True
False

## xii. Filter()

Filter tests each element in the list to be true or false.

Example:

In [35]:
n="n"
connor=("C","o","n","n","o","r")
goodman=filter(n, connor)

## xiii. List()

List creates a list in python

Example:

In [36]:
q = list(("q","a","c"))
print(q)

['q', 'a', 'c']

## xiv. Map()

Map allows you to process all the items in an iterable without using an explicit "for loop".

Example:

In [43]:
def square(number):
        return number ** 2
   

        test = [1, 2, 3, 4, 5]

        squared = map(square, test)

        list(squared)
[1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

## i. Cmp()

Cmp simply compares two integers

Example:

In [49]:
def cmp(p, u):
    return (p > u) - (p < u)
p=1
u=2

print("The cmp value for p>u is", cmp(p, u))

The cmp value for p>u is -1

## ii. len()

Len counts the length of the tuple

Example:

In [51]:
print(numbers)

[2, 3, 4, '5', 44, 'e', 'l', 'l', 'o']

In [50]:
len(numbers)

9

## iii. Max()

Max displays the highest int in a tuple or list

Example:

In [53]:
xam=[1,2,5,1,6,111111111]
max(xam)

111111111

## iv. tuple(seq)

Tuple(seq) creates a tuple!

Example:

In [57]:
tup1=tuple("1")
print(tup1)

('1',)